<.flash_group flash={@flash} />

<div class="h-screen flex flex-col items-center justify-center">
  <h1 class="text-6xl md:text-7xl mb-6 tracking-tight font-bold">
    Make <span class="text-brand">Polls</span> great again<span class="text-brand">!</span>
  </h1>
  <p>
    <.link href={~p"/users/log_in"} class="link">
      Log in
    </.link>
    ||
    <.link href={~p"/users/register"} class="link">
      Register
    </.link>
  </p>
</div>
